{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless logo_path == empty %}
          <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt=""></a>
        {% endunless %}
        <a class="site-title" href="{{ '/' | relative_url }}" style="color: black;">
          {{ site.masthead_title | default: site.title }}
          {% if site.subtitle %}<span class="site-subtitle">{{ site.subtitle }}</span>{% endif %}
        </a>
        <ul class="visible-links">
            <li class="masthead__menu-item">
              <i>Osoite: Metsonlantie 27 , 04500 KELLOKOSKI</i>
              <i>Puh: 050 045 0911 / 050 369 4635</i>
              <i>Email: arto.koponen@koponenoy.com</i>
            </li>
      </nav>
    </div>
  </div>
</div>
